.App {
    /* Add any styles for your app container here */
}

.container {
    /* Styles for the main container */
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 20px 20px 150px 20px;
    padding: 30px;
}

.row {
    /* Styles for the row container */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.App-link {
    /* Styles for the link in your app */
    color: #61dafb;
}

.number {
    /* Styles for the number element */
    color: #864dfe;
}

.col {
    /* Styles for the column */
    font-family: "CustomFont", sans-serif;
    font-size: 10px;
    color: #757575;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results {
    /* Styles for the results container */
    font-family: "CustomBold", sans-serif;
    justify-content: left;
    margin-top: 0px;
    font-size: 68px;
}

.result {
    /* Styles for each result */
    flex-direction: row;
    display: flex;
    margin-bottom: 0px;
    margin-top: -30px;
}

input {
    /* Styles for the input fields */
    padding: 10px;
    font-family: "CustomFont", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90px;
    margin-top: 6px;
}

    input:focus {
        /* Styles for the active input field */
        border-color: #864dfe;
    }
