body {
    background-color: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "CustomFont";
    src: url("../resource/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-family: "CustomBold";
    src: url("../resource/assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}


